
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/_Layout.cshtml";
}

     <div class="banner">
        <div class="banner-container">
            <h1 class="banner-title">
                <span>Paws</span> For People Blog
            </h1>
            <p>For current and prospective dog owners</p>      
                @*asp-route-returnurl="@ViewData["~/Views/Content"]"*@
        </div>
    </div>


