* {
    font-family: 'Playfair Display', serif;
}

:root {
    --Quicksand: 'Quicksand', serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0fr 2.5fr 0fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". Header ."
        ". Main ."
        ". Footer .";
}

.Main {
    grid-area: Main;
}

.Header {
    grid-area: Header;
}

.Footer {
    grid-area: Footer;
    text-align: center;
    padding: 2rem 0;
    border: solid;
}

.navbar {
    background: black;
    padding: 1.2rem;
    position: sticky;
}

.navbar-brand {
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.navbar-brand a {
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-brand a:hover {
    opacity: 0.7;
    color: grey;
}

.navbar-nav {
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a {
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-nav a:hover {
    opacity: 0.7;
    color: grey;
}

.banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background: url(~/images/blackPug.jpg) no-repeat fixed, center;
}

.banner-title {
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    line-height: 1.2;
}

.banner-title span {
    font-family: 'Playfair Display', serif;
    color: black;
}

.banner-p {
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form {
    background-color: black;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}

.search-input {
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
    background-color: black;
    box-shadow: 150px;
}

.search-input ::placeholder {
    text-transform: capitalize;
    color: #fff;
}
::placeholder{
    color: #fff;
}

.search-btn {
    width: 40px;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

body {
    margin: 0;
    padding-bottom: 20px;
}

.social-media a {
    color: black;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-media a:hover {
   color: grey;
}
/*Set padding to keep content from hitting the edges */
.body-content {
        padding-left: 15px;
        padding-right: 15px;
}

/*Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

